.header {
  margin: auto;
  width: 1280px;
}
.header ul {
  list-style-type: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul li {
  color: #ffffff;
  font-size: 18px;
  padding: 1rem 2rem;
  border-right: 1px solid gray;
  cursor: pointer;
}
.btnstyle {
  display: flex;
  align-items: center;
}
.parent {
  position: relative;
}
.subMenuDropdown {
  position: absolute;
  left: 0;
  margin-top: 16px;
  padding: 0;
  display: none !important;
  /* display: flex; */
  flex-direction: column;
  min-width: 200px;
}
.subMenuDropdown li {
  border: 0.5px solid gray;
  width: 141px;
  cursor: pointer;
}
.subMenuDropdownStyle {
  position: absolute;
  left: 100%;
  top: -17px;
}
.showMenu {
  display: block !important;
}
.hideMenu {
  display: none !important;
}
